@font-face{
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
}


*{
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
